.word-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: center;
}

.word-search-top-words {
    order: 0;
    flex: 1 1 auto;
}

.top-word {
    font-size: xx-large;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

#search-input {
    order: 1;
    flex: 1 1 auto;
    align-self: center;
}

#search-results {
    order: 2;
    overflow: hidden;
    max-height: 700px;
}