.word-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

.word-search-top-words {
    order: 0;
    flex: 1 1 auto;
}

.top-word {
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

#search-input {
    order: 1;
    flex: 1 1 auto;
    align-self: center;
}

#search-input input {
    width: 500px;
    padding: 1rem 0 8px 0;
    margin: 0;
    border: none;
    background: none;
    font-size: larger;
}

#search-input input:focus {
    outline: none;
}

#search-results {
    order: 2;
    overflow-y: scroll;
    max-height: 900px;
    scrollbar-width: thin;
    box-sizing: border-box;
    /* add extra whitespace at the end to give room to scroll without skipping to next viz */
    padding-bottom: 350px;
}

#search-results::-webkit-scrollbar {
    width: 6px;
}

#search-results::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

#search-results::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}