.xaxis .domain,
.yaxis .domain {
    stroke: none;
}

.yaxis .tick line {
    stroke: none;
}

.yaxis .tick text {
    font-size: 200%;
}

.tooltip {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background: #eee;
    max-width: 200px;
    padding: 5px;
}