.xaxis .domain,
.yaxis .domain {
    stroke: none;
}

.yaxis .tick line {
    stroke: none;
}

.yaxis .tick text {
    font-size: 200%;
}

.xaxis .tick line {
    stroke: #999;
    opacity: 0.5;
}

.tooltip {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background: #eee;
    max-width: 200px;
    padding: 0 3px;
}

.tooltip-avatar {
    height: 60px;
    width: 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -45px;
    border: 5px solid #fff;
}

.tooltip-text {
    position: relative;
    top: -60px;
}