#info-panel {
    position: absolute;
    top: 200px;
    right: 50px;
    display: block;
    width: 350px;
    text-align: center;
}

#info-avatar {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
}

#info-spoke-to-heading {
    display: none;
}