#scrolly {
    position: relative;
    display: flex;
    background-color: #f3f3f3;
    /* padding: 1rem; */
}

#scrolly > * {
    flex: 1;
}

article {
    position: relative;
    /* padding: 0 1rem; */
    max-width: 35rem;
}

figure {
    position: sticky;
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0;
    /* transform: translate3d(0, 0, 0); */
    /* background-color: #8a8a8a; */
    /* z-index: 0; */
    /* overflow: scroll; */
}

figure p {
    /* text-align: center; */
    /* padding: 1rem; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* font-size: 8rem; */
    /* font-weight: 900; */
    /* color: #fff; */
}

.step {
    /* margin: 0 auto 2rem auto; */
    background-color: #3b3b3b;
    color: #fff;
}

.step:last-child {
    /* just pads out bottom so last step can be scrolled into */
    margin-bottom: 800px;
}

.step p {
    /* text-align: center; */
    /* padding: 1rem; */
    /* font-size: 1.5rem; */
}
  
.step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
}
