#scrolly {
    position: relative;
    display: flex;
    background-color: #f3f3f3;
    /* padding: 1rem; */
}

#scrolly > * {
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 35rem;
}

article h1 {
    margin: 0;
    font-size: xx-large;
}

article h2 {
    margin: 0;
    font-size: x-large;
}

article h1, h2, p {
    line-height: 1.6;
}

figure {
    position: sticky;
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0;
    /* transform: translate3d(0, 0, 0); */
    /* background-color: #8a8a8a; */
    /* z-index: 0; */
    /* overflow: scroll; */
}

figure p {
    /* text-align: center; */
    /* padding: 1rem; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* font-size: 8rem; */
    /* font-weight: 900; */
    /* color: #fff; */
}

.step {
    /* margin: 0 auto 2rem auto; */
    /* background-color: #3b3b3b; */
    /* color: #fff; */
}

.step:last-child {
    /* just pads out bottom so last step can be scrolled into */
    margin-bottom: 800px;
}

.step p {
    /* text-align: center; */
    /* padding: 1rem; */
    /* font-size: 1.5rem; */
}
  
.step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
}

/* chord diagram info panel */
#info-panel {
    display: flex;
}

#info-col {
    flex-direction: column;
    margin-left: 2rem;
}

#info-avatar {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    min-width: 150px;
    max-width: 150px;
    /* margin: 0 auto; */
}

figure {
    pointer-events: none;
}

.bold {
    font-weight: bold;
}


/* Sound Clip styles - TODO: move to SentenceAnnotation style */
.sound-clip {
    padding: 3px 0;
    line-height: 2;
}

.sound-clip.external {
    background-color: dodgerblue;
}

.sound-clip.internal {
    background-color: tomato;
}

.sound-clip-control {
    cursor: pointer;
}