#splash-body {
    width: 100%;
    height: 100vh;
    background-color: #0B2816;
    font-size: 1.2rem;
}

#splash-panel {
    position: absolute;
    top: 200px;
    left: 1150px;
    width: 600px;
    color: #f5f5f5;
}

#splash-panel h1 {
    font-size: 2.6rem;
}

blockquote {
    border-left: 5px solid #f5f5f5;
    padding-left: 12px;
    margin-left: 0;
}

#splash-enter-btn {
    background: none;
    border: none;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#splash-enter-bg {
    background-image: url("img/logo-without-text.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
}

#splash-enter-text {
    position: relative;
    top: -95px;
    left: -85px;
    font-size: 1.2rem;
}

/* alpha/beta ribbon */
#release-ribbon a {
    background:#000;
    color:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}

#release-ribbon a:hover {
background:#c11;
color:#fff;
}

#release-ribbon a::before,
#release-ribbon a::after {
content:"";
width:100%;
display:block;
position:absolute;
top:1px;
left:0;
height:1px;
background:#fff;
}

#release-ribbon a::after {
bottom:1px;top:auto;
}

@media screen and (min-width:800px) {
#release-ribbon {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
    z-index:9999;
}

#release-ribbon a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
}
}